@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Riddles</h1>
    <p>Riddles, are incredibly fun and enjoyable, providing a delightful challenge for people of all ages.</p>

    <img src="~/images/OIP.jpg" alt="img says solve the riddle " />
</div>
@* // add an image as a illustration *@